body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.no-padding {
    padding: 0px;
}

.date .input-group .input-group-addon{
    cursor:pointer
}

.done {
    background-color: #E1F0DD !important;
}
